{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> --}}
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            &#9776; Menu
        </button>
    </div>
{{!-- </nav> --}}
{{!-- Referene: https://css-tricks.com/three-line-menu-navicon/ --}}