    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Awesome App</h3>
        </div>

        <ul class="list-unstyled components">
            {{!-- <p>Dummy Heading</p> --}}
            <li class="active">
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/getall/">Our Team</a>
            </li>
            <li>
                <a href="/users/add/">Add a Team Member</a>
            </li>
            <li>
                <a href="/chart/">Chart</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
